.DownloadContainer{
    background:rgb(26, 28, 36);
    text-align:center;
    z-index:-2;
    position:relative;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.285);
    h2{
        z-index:-2;
        position:relative;
        margin:0;
        padding-top:70px;
        padding-bottom:70px;
        font-weight:100;
        font-size:22pt;
    }

    .download-grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        .buttons{
margin-top:10%;
        }
        button{
            margin:auto;
            display: block;
            background:#FFDB6A;
            border:none;
            outline:none;
            text-decoration:none;
            padding:2% 6% 2% 6%;
            font-size:12pt;
            border-radius:5px;
            margin-bottom:25px;
            width:40%;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.285);
        }
        .butterfly{
            height:45vh;
            margin:auto;
            padding-bottom:100px;
        }
    }
}