

.IconContainer{
    background:#24272F;
    text-align:center;
    h2{
        margin:0;
        padding-top:70px;
        padding-bottom:70px;
        font-weight:100;
        font-size:22pt;
    }

    .IconGrid1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap:20px;
        width:68%;
        margin:auto;
        margin-bottom:50px;
        h4{
            font-weight:100;
        }
    }
    .IconGrid2{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap:20px;
        width:85%;
        margin:auto;
        padding-bottom:50px;
        h4{
            font-weight:100;
        }
    }
    .svgicon{
        width:100px;
        margin:auto;
    }
}